<?xml version="1.0"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="D:\temp\output\internal-nlog.txt">

  
  <!--<extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>-->

  <!--
  
  52428800 = 50 MB 
  -->

  <variable name="logDirectory" value="D:\temp\output"/>

  <targets>


    <target
      name="logfileInfo" xsi:type="File"
      layout="${date:format=yyyy-MM-dd HH\:mm\:ss} | ${machinename} | ${message}"
      fileName="${logDirectory}/${date:format=yyyy-MM-dd}_log.txt"
      archiveFileName="${logDirectory}/${date:format=yyyy-MM-dd}_log.{###}.txt"
      archiveAboveSize="52428800"
      archiveNumbering="Sequence"
      concurrentWrites="true"
      keepFileOpen = "false"
      maxArchiveFiles = "10"
    />    
    

    <target
      name="logfileError" xsi:type="File"
      layout="${date:format=yyyy-MM-dd HH\:mm\:ss} | ${machinename} | ${message}"
      fileName="${logDirectory}/${date:format=yyyy-MM-dd}_log_error.txt"
      archiveFileName="${logDirectory}/${date:format=yyyy-MM-dd}_log_error.{###}.txt"
      archiveAboveSize="52428800"
      archiveNumbering="Sequence"
      concurrentWrites="true"
      keepFileOpen = "false"
      maxArchiveFiles = "10"
    />

    <target
      name="logfileProcessed" xsi:type="File"
      layout="${date:format=yyyy-MM-dd HH\:mm\:ss} | ${machinename} |${message}"
      fileName="${logDirectory}/${date:format=yyyy-MM-dd}_log_Processed.txt"
      archiveFileName="${logDirectory}/${date:format=yyyy-MM-dd}_log_Processed.{###}.txt"
      archiveAboveSize="52428800"
      archiveNumbering="Sequence"
      concurrentWrites="true"
      keepFileOpen = "false"
      maxArchiveFiles = "10"
    />



    <target
      name="logfileMessagesReceived" xsi:type="File"
      layout="${date:format=yyyy-MM-dd HH\:mm\:ss} | ${machinename} | ${message}"
      fileName="${logDirectory}/${date:format=yyyy-MM-dd}_log_Received.txt"
      archiveFileName="${logDirectory}/${date:format=yyyy-MM-dd}_log_Received.{###}.txt"
      archiveAboveSize="52428800" 
      archiveNumbering="Sequence"
      concurrentWrites="true"
      keepFileOpen = "false"
      maxArchiveFiles = "10"
    />


    <target xsi:type="Null" name="blackhole" />

  </targets>
  <rules>

    <!-- name Worker is defined in the class; in this case the class name is not used -->
    <logger name="CompraFacil.CallBackURL.*" level="Info" writeTo="logfileInfo" final="true"/>
    <logger name="CompraFacil.CallBackURL.*" level="Error" writeTo="logfileError" final="true"/>
    <logger name="CompraFacil.CallBackURL.*" level="Warn" writeTo="logfileProcessed" final="true"/>
    <logger name="CompraFacil.CallBackURL.*" level="Debug" writeTo="logfileMessagesReceived" final="true"/>

    <!--
    <logger name="CompraFacil.CallBackURL.RemoteResponsesProcessorService.Program" level="Info" writeTo="logfileInfo" final="true"/>
    <logger name="CompraFacil.CallBackURL.RemoteResponsesProcessorService.Program" level="Error" writeTo="logfileError" final="true"/>
    <logger name="CompraFacil.CallBackURL.RemoteResponsesProcessorService.Program" level="Warn" writeTo="logfileProcessed" final="true"/>
    <logger name="CompraFacil.CallBackURL.RemoteResponsesProcessorService.Program" level="Debug" writeTo="logfileExpired" final="true"/>
    <logger name="CompraFacil.CallBackURL.RemoteResponsesProcessorService.Program" level="Trace" writeTo="logfileRemoteProcessing" final="true"/>
-->

    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />

    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="logfileInfo" />


  </rules>
</nlog>